body {
	margin: 0;
	margin-bottom: 50px;
}

section.content,
nav.content {
	padding-left: 16%;
	padding-right: 16%;
}

p {
	font-size: 1.1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	margin-bottom: 10px;
}

li {
    float: left;
}

label,
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

label:hover,
li a:hover {
    background-color: #111;
}

img {
	max-width: 100% !important;
	height: auto;
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

figcaption {
	text-align: center;
	background: rgba(255, 255, 255, 0.6);
	padding: 10px;
}

figcaption.source {
	text-align: right;
	background: 0;
}

figure .text {
	position: relative;
	bottom: 50px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	color: black;
}

figure .source {
	position: relative;
	bottom: 40px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	font-size: 0.8em;
}

figure:hover .text,
figure:hover .source {
	visibility:visible;
	opacity: 1;
}

figure {
	margin-bottom: -50px;
}

/*Image gallery*/
.box {
    width: 33%;
	position: relative;
	display: inline-block;
}

figure.gallery {
	margin: 0px;
	height: 300px;
	width: 100%;
	overflow: hidden;
}

.galleryimage {
	height: 300px;
	width: auto;
}

table {
	width:100%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + #menu {
  max-height: 50px;
}

#toggletext {
	display: none;
}

@media screen and (max-width: 1200px) {
	.box {
	  width: 49%;
	}
}

@media screen and (max-width: 900px) {
	.box {
	  width: auto;
	}
	
	label,
	li a {
	  display: block;
	}
	 
	li {
	  float: none;
	}
	
	#toggletext {
		display: inline;
	}
}
