@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
@import url('https://fonts.googleapis.com/css?family=Ranga');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');

html{
	--dark: #DB9200;
	--light: #FFFDBC;
	--darkest: #DB6300;
}

body {
	margin: 0;
	margin-bottom: 50px;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	background-color: var(--light);
}

section.content,
nav.content {
	padding-left: 16%;
	padding-right: 16%;
}

nav.content {
    overflow: hidden;
    background-color: var(--dark);
}

p {
	font-size: 1.1em;
}

.cpage {
	font-size: 110%;
	font-weight: bold;
	font-style: italic;
}


/*Menu*/
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
	margin-bottom: 10px;
}

li.navlink {
    float: left;
}

label.menutoggle,
li.navlink a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

label.menutoggle:hover,
li.navlink a:hover {
    background-color: var(--darkest);
}

img {
	max-width: 100%;
	height: auto;
}

/*Image descriptions*/
figcaption {
	text-align: center;
	background: rgba(255, 255, 255, 0.6);
	padding: 10px 0px 10px 0px;
}

figcaption.source {
	text-align: right;
	background: 0;
}

figure .text {
	position: relative;
	bottom: 50px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	color: black;
	margin: 0 auto;
}

figure .source {
	position: relative;
	bottom: 40px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	font-size: 0.8em;
}

figure:hover .text,
figure:hover .source {
	visibility:visible;
	opacity: 1;
}

figure {
	margin-bottom: -50px;
}

/*Image gallery*/
.box {
    width: 33%;
	position: relative;
	display: inline-block;
}

figure.gallery {
	margin: 0px;
	height: 300px;
	width: 100%;
	overflow: hidden;
}

.galleryimage {
	height: 300px;
	width: auto;
	object-fit: cover;
}

/*Table layout*/
.facttable {
	width:100%;;
}

.facttable{
	width: 46%;
	margin: 0 auto;
}

.facttable, .factth, .facttd {
	border: 1px solid black;
	border-collapse: collapse;
}

.facttable, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}


.facttable td:nth-child(2) {
    background-color: #00e5ff;
}

.facttable td:nth-child(3) {
   background-color:#ff8cfb;
}

/*Menu toggle*/
#menu-toggle {
	display: none;
}

#menu-toggle:not(:checked) + #menu {
	max-height: 50px;
}

#toggletext {
	display: none;
}

/*Link list*/
.linklist {
	list-style-type: none;
}

a.linklistlink {
	text-decoration: none;
}

a.linklistlink:link {
	color: #1448e5;
}

a.linklistlink:visited {
	color: #8910b5;
}

a.linklistlink:hover {
	font-weight: bold;
}

a.linklistlink:active {
	color: #56096d;
}

a.linklistlink:focus {
	color: #e212d5;
}

.vid {
	width: 100%;
	height: 300px;
}

#map {
  height: 800px;
  margin: 10px 0px 10px 0px;
}

.button {
	background-color: var(--dark);
    border: none;
    color: white;
    padding: 12px 15px;
    text-align: center;
    display: inline-block;
    font-size: 1em;
}

.button:hover {
	background-color: var(--darkest);
}

#comment_area {
	padding: 10px;
}

/*Comment styles*/
#comment_area > * {
	border-top: thin solid var(--dark);
}

textarea {
	font-family: 'PT Sans', sans-serif;
	border-color: var(--dark);
	resize: none;
}

#comment_input {
	width: 80%;
}

#username_input {
	width: 15%;
}

#comment {
	font-style: italic;
}

input[type="radio"]:checked + label {
    border: solid 1px var(--dark);
}


/*Smaller screen layouts*/
@media screen and (max-width: 1200px) {
	.box {
	  width: 49%;
	}
}

@media screen and (max-width: 900px) {
	.box {
	  width: auto;
	}
	
	label.menutoggle,
	li.navlink a {
	  display: block;
	}
	 
	li.navlink {
	  float: none;
	}
	
	#toggletext {
		display: inline;
	}
	
	figure .text,
	figure .source {
		opacity: 1;
		visibility: visible;
	}
	
	#lionlogo {
		display: none;
	}
	
	table {
		width: 100% !important;
	}
	
	textarea {
		width: 100% !important;
	}
}

table, th, td{
	border-color: transparent;
	border-collapse:true;
}

#placeholder > div.legend > table {
  border-collapse: true;
  width: 14%;
}
#placeholder{
	position:center;
	margin:auto;
	width: 750px;
	height: 375px;
}
