body {
	margin: 0;
}

section.content,
nav.content {
	padding-left: 16%;
	padding-right: 16%;
}

p {
	font-size: 1.1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	margin-bottom: 10px;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
